<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.esigelec.zengyuhao.materialdesignpractice"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_devices_black_48dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".CardViewActivity">
        </activity>
        <activity android:name=".ShadowAndClippingActivity">
        </activity>
        <activity
            android:name=".ActionBarActivity"
            android:label="@string/title_activity_action_bar">
        </activity>
        <activity android:name=".PaperTabStripActivity">
        </activity>
        <activity
            android:name=".NavigationDrawerActivity"
            android:label="DrawerLayout"
            android:logo="@drawable/ic_arrow_back_black_24dp">
        </activity>
        <activity android:name=".NotificationActivity">
        </activity>
        <activity android:name=".CapturingPhotoActivity">
        </activity>
        <activity android:name=".SnackerBarActivity">
        </activity>
        <activity android:name=".CustomViewActivity">
        </activity>
        <activity android:name=".IntentServiceActivity">
        </activity>
    </application>

</manifest>